:ruby
  # encoding: utf-8
  # PAIS, Departamento, Municipio, Comunidad
  csv = File.read "db/q2_comunitades.csv"


%form{ action: "/submit", method: :post }
  %h1 CUESTIONARIO DIRIGIDO A LAS COMUNIDADES BENEFICIARIAS DEL PROGRAMA EUROSOLAR

  %section
    %h1 GENERAL
    - input "Nombre de la Comunidad", name: :nombre_comunidad
    - input "Nombre  de la persona que responde al cuestionario", name: :nombre
    - input "Cargo en la Comunidad en relación al Programa EUROSOLAR", name: :cargo


  %section
    %h1
      PERTINENCIA
      %span Pertinencia a nivel de cada país

    %section
      %h1 Pertinencia institucional
      - input "Cuál fue la respuesta de la comunidad cuando se les invitó a participar en el proyecto?", ["hubo resistencia", "trataron de colaborar", "otro"]
      - input "Otro (especificar)"


    %section
      %h1 Pertinencia geográfica
      - input "En su opinión para la Comunidad el Programa EUROSOLAR tenía como objetivo?", ["llevar energía a la comunidad", "mejorar la educación y la salud", "mejorar la comunicación con el exterior", "generar ingreso y recursos", "otro"]
      - input "Otro (especificar)"
      - input "Porqué razones fue seleccionada su comunidad como beneficiaria del programa EUROSOLAR?", ["no tiene energía", "está muy aislada", "había un fuerte compromiso de la gente", "otro"]
      - input "Otro (especificar)"
    %section
      %h1 Pertinencia operativa
      - input "En su opinión la calidad del equipamiento instalado en su comunidad es?", ["muy adecuada", "bastante adecuada", "poco adecuada", "inadecuada"]
    %section
      %h1 Temas transversales
      - input "Desde el principio participaron tanto mujeres como hombres de la comunidad en el proyecto?", ["solo hombres", "mayormente hombres", "hombres y mujeres", "mayormente mujeres", "otro"]
      - input "Otro (especificar)"
    %section
      %h1 Previsión de la sostenibilidad
      - input "La comunidad tenía claro desde el inicio del proyecto de donde procederían los medios para que los equipos duraran en el tiempo?", ["del estado", "de los municipios", "de la misma comunidad", "otro"]
      - input "Otro (especificar)"

  %section
    %h1
      EFICIENCIA
      %span Eficiencia en la ejecución local

    - input "Los habitantes de la comunidad fueron informados  de la utilidad del proyecto al inicio?", ["suficientemente", "parcialmente", "poco", "nada"]
    - input "Cómo ha sido la capacitación que han recibido en la Comunidad para el manejo de los equipos?", ["suficiente", "a penas suficiente", "insuficiente", "no ha habido capacitación"]
    - input "Cómo se realizó la conexión a internet?", ["por antena sateltal", "por la linea de teléfono movil", "no ha habido conexión", "otro"]
    - input "Otro (especificar)"
    - input "La comunidad participó en los trabajos de construcción para poner en funcionamiento el kit EUROSOLAR?", ["en la adecuación de los edificios", "en la provisión del mobiliario", "en la instalación de los equipos", "no se participó", "otro"]
    - input "Otro (especificar)"
    - input "Se organizó en la Comunidad algún tipo de comité de coordinación para dar seguimiento a las actividades del proyecto?", ["si, desde antes de la instalación de los equipos", "si, después de la instalación de los equipos", "no se organizó ningún comité", "otro"]
    - input "Otro (especificar)"
    - input "Quienes formaban ese comité de coordinación?", ["solamente los docentes de la escuela", "docentes y padres de fiamila", "varios integrantes de la comunidad", "otro"]
    - input "Otro (especificar)"

  %section
    %h1
      EFICACIA

    - input "En su opinión ¿a qué aspecto ha contribuido más el kit instalado en la Comunidad?", ["mejora de la educación", "de las condiciones de salud", "de la comunicación de la comunidad con el exterior", "a generar oportunidades de ingreso", "otro"]
    - input "Otro (especificar)"

    %section
      %h1 Efectos en la Educación
      - input "¿Para qué  actividades educativas se utilizan los laptops?", ["para los cursos ordinarios", "para investigaciones y profundizaciones", "para la información", "para el juego y la recreación", "otro"]
      - input "Otro (especificar)"
      - input "¿Están siendo todos utilizados?", ["todo el tiempo", "solamente durante ciertos días y horas", "muy esporádicamente", "nunca", "otro"]
      - input "Otro (especificar)"
      - input "¿Están conectados a internet?", ["están conectados con frecuencia", "están conectados esporádicamente", "estuvieron conectados pero ya no", "nunca estuvieron conectados", "otro"]
      - input "Otro (especificar)"
      - input "¿Cuántos son los alumnos que utilizan los laptops?", ["todos los alumnos de la escuela", "solo los de ciertos grados", "otro"]
      - input "Otro (especificar)"
      - input "¿Qué programas informáticos educativos se usan en los laptops?", ["programas estándar (Windows, Office)", "aplicaciones y contenidos educativos específicos", "juegos y contenidos recreativos", "otro"]
      - input "Otro (especificar)"
      - input "¿Necesitan conexión a internet?", ["si permanente", "solo para ciertas funciones", "no necesitan conexión", "otro"]
      - input "Otro (especificar)"
      - input "¿Se nota un, mayor  interés o mejor nivel educativo, desde que se usan los laptops en la escuela?", ["mayor nivel de preparación", "mayor interés y motivación", "ninguna mejora", "otro"]
      - input "Otro (especificar)"

    %section
      %h1 Efectos en la Salud
      - input "¿Se han podido instalar convenientemente la refrigeradora para uso sanitario y el purificador de agua?", ["en el centro de salud", "en otro edificio", "no se han instalados", "otro"]
      - input "Otro (especificar)"
      - input "¿Es la refrigeradora utilizada?", ["para la conservación de vacunas y medicamentos", "para la conservación de otros productos", "no es utilizada", "otro"]
      - input "Otro (especificar)"
      - input "¿Qué efectos han sido observados gracias al uso de estos aparatos?", ["acceso a medicamentos mayor", "menores enfermedades", "mejora de la salud", "otro"]
      - input "Otro (especificar)"

    %section
      %h1 Efectos en desarrollo socioeconómico
      - input "¿Gracias al kit Eurosolar se han podido arrancar proyectos de generación de ingresos en la comunidad?", ["planes de negocio", "búsqueda de mercados", "servicios de fotocopias, teléfono, faxes", "recarga de baterías", "otro"]
      - input "Otro (especificar)"
      - input "¿Son estas iniciativas llevadas de forma comunitaria por toda la comunidad o por algunos individuos o grupos?", ["toda la comunidad", "la organización", "un grupo de personas", "otro"]
      - input "Otro (especificar)"

    %section
      %h1 Efectos energéticos
      - input "¿Gracias al kit Eurosolar se han podido realizar actividades recreativas en la comunidad?", ["actividades con alumbrado público", "proyecciones", "otro"]
      - input "Otro (especificar)"
      - input "¿Conocen de otras experiencias en la zona que hayan tomado el ejemplo de su comunidad y hayan instalado placas solares?", ["si hubo replicación",  "no hubo ninguna replicación", "otro"]
      - input "Otro (especificar)"
      - input "¿Cuál es el grado de interés de otras comunidades en la experiencia de su comunidad?", ["si hubo interés pero ninguna realización hasta el momento", "nadie manifestó interés", "otro"]
      - input "Otro (especificar)"

  %section
    %h1 IMPACTO
    - input "Qué efectos generales ha tenido el proyecto para la mejora de la calidad de la vida de la Comunidad?", ["hay una mejor educación para los niños y jovenes", "hay mejores condicones de salud", "hay más fuentes de ingreso", "hay mejor comunicación", "otro"]
    - input "Otro (especificar)"


  %section
    %h1
      SOSTENIBILIDAD

    %section
      %h1 Sostenibilidad institucional
      - input "Que autoridades acompañan y apoyan ahora a la Comunidad para mantener el equipo?", ["instituciones del estado", "municipio", "otro proyecto" "ningún apoyo", "otro"]
      - input "Otro (especificar)"

    %section
      %h1 Sostenibilidad social
      - input "¿Quién forma parte ahora de la organización de la comunidad encargada del kit eurosolar?", ["profesores o maestros", "padres de familia", "otros miembros de la comunidad",  "otro"]
      - input "¿Quienes son, entre los miembros de la comunidad, los que apoyan mayormente las actividades relacionadas con la instalación de Eurosolar", ["los alumnos", "otros jóvenes", "los enseñantes", "los padres de familia", "los empresarios?"]
      - input "¿Cuál es la participación de las, niñas  jóvenes y señoras en el uso de las instalaciones de Euroslar?", ["muy elevada", "regular", "poca", "otro"]
      - input "Otro (especificar)"

    %section
      %h1 Sostenibilidad técnica
      - input "¿Están funcionando bien los equipos?", ["si, todos funcionan bien", "algunos han sido robados", "algunos son danados", "muy pocos funcionan", "ninguno funciona", "otro"]
      - input "Otro (especificar)"
      - input "¿Tienen conexión a internet?", ["todas las laptops están conectadas", "solo algunas están conectadas", "estuvieron conectadas pero ya no", "ninguna está conectada" "otro"]
      - input "Otro (especificar)"
      - input "¿La comunidad está responsabilizada en el mantenimiento de los equipos?", ["si, la organización comunitaria se encarga de la operación y mantenimiento", "cuando hay fallos graves pedimos asistencia externa", "las autoridades intervienen regularmente", "nadie hace mantenimiento", "otro"]
      - input "Otro (especificar)"

    %section
      %h1 Sostenibilidad financiera
      - input "¿Qué autoridades están dando apoyo económico para mantener el equipo e instalaciones?", ["instituciones del estado", "municipio", "otro proyecto", "ningún apoyo", "otro"]
      - input "Otro (especificar)"
      - input "¿Se generan fondos propios a partir de la utilización de los equipos en la Comunidad?", ["bastantes, más de los que se necesitan para mantenimiento", "sufiencientes para el mantenimiento", "insuficientes para el mantenimiento", "no se genera ningún fondo", "otro"]
      - input "Otro (especificar)"
      - input "¿Quien paga el servicio de internet?", ["instituciones del estado", "servicio gratuito de la empresa de telecomunicaciones", "municipio", "otro proyecto", "la propia comunidad", "ningún pago", "otro"]
      - input "Otro (especificar)"

    %section
      %h1 Sostenibilidad ambiental
      - input "¿Han contribuido los contenidos de la información y formación vía internet al aumento de la concientización en favor de la conservación del medio ambiente?", ["han contribuido en la concientización e información", "no han contribuido", "otro"]
      - input "Otro (especificar)"
      - input "¿si han tenido que reemplazar baterías o piezas de equipo, como las han tratadas?", ["puesta de lado en la comunidad", "tirada en la basura", "enviada para reciclaje", "otro"]
      - input "Otro (especificar)"

  %input{ type: :hidden, name: :start_time, value: Time.now.to_s }

  // send

  %section
    %p Una vez terminado de rellenar el cuestionario presione el botón ENVIA.
    %input{ type: :submit, value:  "ENVIA" }
