%form{ action: "/submit", method: :post }
  %h1 CUESTIONARIO DIRIGIDO A LAS COMUNIDADES BENEFICIARIAS DEL PROGRAMA EUROSOLAR

  %section
    %h1 GENERAL
    - input "Nombre de la Comunidad", name: :nombre_comunidad
    - input "Nombre  de la persona que responde al cuestionario", name: :nombre
    - input "Cargo en la Comunidad en relación al Programa EUROSOLAR", name: :cargo


  %section
    %h1
      PERTINENCIA
      %span Pertinencia a nivel de cada país

    %section
      %h1 Pertinencia institucional
      - input "Cuál fue la respuesta de la comunidad cuando se les invitó a participar en el proyecto?" ["hubo resistencia", "trataron de colaborar", "otro"], tag: :area
    %section
      %h1 Pertinencia geográfica
      - input "En su opinión para la Comunidad el Programa EUROSOLAR tenía como objetivo?" ["llevar energía a la comunidad", "mejorar la educación y la salud", "mejorar la comunicación con el exterior", "generar ingreso y recursos", "otro"], tag: :area
      - input "Porqué razones fue seleccionada su comunidad como beneficiaria del programa EUROSOLAR?" ["no tiene energía", "está muy aislada", "había un fuerte compromiso de la gente", "otro"], tag: :area
    %section
      %h1 Pertinencia operativa
      - input "En su opinión la calidad del equipamiento instalado en su comunidad es?" ["muy adecuada", "bastante adecuada", "poco adecuada", "inadecuada"], tag: :area
    %section
      %h1 Temas transversales
      - input "Desde el principio participaron tanto mujeres como hombres de la comunidad en el proyecto?" ["solo hombres", "mayormente hombres", "hombres y mujeres", "mayormente mujeres", "otro"], tag: :area
    %section
      %h1 Previsión de la sostenibilidad
      - input "La comunidad tenía claro desde el inicio del proyecto de donde procederían los medios para que los equipos duraran en el tiempo?" ["del estado", "de los municipios", "de la misma comunidad", "otro"], tag: :area

  %section
    %h1
      EFICIENCIA
      %span Eficiencia en la ejecución local

    - input "Los habitantes de la comunidad fueron informados  de la utilidad del proyecto al inicio?" ["suficientemente", "parcialmente", "poco", "nada"], tag: :area
    - input "Cómo ha sido la capacitación que han recibido en la Comunidad para el manejo de los equipos?" ["suficiente", "a penas suficiente", "insuficiente", "no ha habido capacitación"], tag: :area
    - input "Cómo se realizó la conexión a internet, que calidad ha tenido este servicio hasta la fecha?" ["por antena sateltal", "por la linea de teléfono movil", "otro", "no ha habido conexión"], tag: :area
    - input "La comunidad participó en los trabajos de construcción para poner en funcionamiento el kit EUROSOLAR?" ["en la adecuación de los edificios", "en la provisión del mobiliario", "en la instalación de los equipos", "no se participó", "otro"], tag: :area
    - input "Se organizó en la Comunidad algún tipo de comité de coordinación para dar seguimiento a las actividades del proyecto?" ["si, desde antes de la instalación de los equipos", "si, después de la instalación de los equipos", "no se organizó ningún comité", "otro"], tag: :area
    - input "Quienes formaban ese comité de coordinación?" ["solamente los docentes de la escuela", "docentes y padres de fiamila", "varios integrantes de la comunidad", "otro"], tag: :area
  
  %section
    %h1
      EFICACIA

    - input "En su opinión ¿a qué aspecto ha contribuido más el kit instalado en la Comunidad? (mejora de la educación, de las condiciones de salud, de la comunicación de la comunidad con el exterior, a generar oportunidades de ingreso?", tag: :area

    %section
      %h1 Efectos en la Educación
      - input "¿Para qué  actividades educativas se utilizan los laptops? Están siendo todos utilizados? Están conectados a internet?", tag: :area
      - input "¿Cuántos son los alumnos que utilizan los laptops?", tag: :area
      - input "¿Durante cuántas horas diarias o semanales se utilizan los laptops?", tag: :area
      - input "¿Qué programas informáticos educativos se usan en los laptops? Necesitan conexión a internet?", tag: :area
      - input "¿Se nota un, mayor  interés o mejor nivel educativo, desde que se usan los laptops en la escuela?", tag: :area

    %section
      %h1 Efectos en la Salud
      - input "¿Se han podido instalar convenientemente la refrigeradora para uso sanitario y el purificador de agua? Son estos utilizados?", tag: :area
      - input "¿Qué uso se les está dando a estos aparatos?", tag: :area
      - input "¿Qué efectos han sido observados gracias al uso de estos aparatos? (acceso a medicamentos mayor, menores enfermedades, mejora de la salud…)", tag: :area

    %section
      %h1 Efectos en desarrollo socioeconómico
      - input "¿Gracias al kit Eurosolar se han podido arrancar proyectos de generación de ingresos en la comunidad? Cuáles?", tag: :area
      - input "¿Son estas iniciativas llevadas de forma comunitaria por toda la comunidad o por algunos individuos o grupos?", tag: :area

    %section
      %h1 Efectos energéticos
      - input "¿Conocen de otras experiencias en la zona que hayan tomado el ejemplo de su comunidad y hayan instalado placas solares? Cuál es el grado de interés de otras comunidades en la experiencia de su comunidad?", tag: :area


  %section
    %h1 IMPACTO
    - input "Qué efectos generales ha tenido el proyecto para la mejora de la calidad de la vida de la Comunidad?", tag: :area


  %section
    %h1
      SOSTENIBILIDAD

    %section
      %h1 Sostenibilidad institucional
      - input "Que autoridades acompañan y apoyan ahora a la Comunidad para mantener el equipo?", tag: :area

    %section
      %h1 Sostenibilidad social
      - input "¿Quién forma parte ahora de la organización de la comunidad encargada del kit eurosolar?", tag: :area
      - input "¿Quienes son, entre los miembros de la comunidad, los que apoyan mayormente las actividades relacionadas con la instalación de Eurosolar: los alumnos, otros jóvenes, los enseñantes, los padres de familia, los empresarios?", tag: :area
      - input "¿Cuál es la participación de las, niñas  jóvenes y señoras en el uso de las instalaciones de Euroslar?", tag: :area

    %section
      %h1 Sostenibilidad técnica
      - input "¿Están funcionando bien los equipos?", tag: :area
      - input "¿Tienen conexión a internet?", tag: :area
      - input "¿La comunidad está responsabilizada en el mantenimiento de los equipos?", tag: :area

    %section
      %h1 Sostenibilidad financiera
      - input "¿Qué autoridades están dando apoyo económico para mantener el equipo e instalaciones?", tag: :area
      - input "¿Se generan fondos propios a partir de la utilización de los equipos en la Comunidad? Son suficientes para costear el mantenimiento?", tag: :area
      - input "¿Quien paga el servicio de internet?", tag: :area

    %section
      %h1 Sostenibilidad ambiental
      - input "¿Han contribuido los contenidos de la información y formación vía internet al aumento de la concientización en favor de la conservación del medio ambiente?", tag: :area

  %input{ type: :hidden, name: :start_time, value: Time.now.to_s }

  // send

  %section
    %p Una vez terminado de rellenar el cuestionario presione el botón ENVIA.
    %input{ type: :submit, value:  "ENVIA" }
