%form
  %h1 CUESTIONARIO DIRIGIDO A LAS COMUNIDADES BENEFICIARIAS DEL PROGRAMA EUROSOLAR

  %section
    %h2 El cuestionario ha sido enviado con éxito!


    %p.mini Si usted ha enviado el cuestionario por error y quiere agregar o corregir algo, puede apretar el botón "atras" de su browser. Volverá a su versión anterior al envío y puede modificarla y volver a enviarla.