!!!
%html
  %head
    %meta{ charset: :utf8 }
    %title Cuestionario
    %link{ href: "css/main.css", rel: "stylesheet" }
  %body
    %form
      %h1 Cuestionario para participantes en actividades del Programa URB-AL III

      %section
        %h2 El cuestionario ha sido enviado con éxito!