body {
  margin: 0; }

body {
  font-family: Helvetica, Arial, Verdana;
  font-size: 110%;
  color: #222222;
  margin-bottom: 35px; }

input, select, textarea {
  font-size: 1.2em;
  display: block; }

textarea {
  width: 80%;
  margin-bottom: 25px; }

select {
  font-size: 1.05em; }

input, select {
  margin-bottom: 0.8em; }

body {
  background: #e4fbff;
  position: relative; }

body > form > h1 {
  background: #385f93;
  color: white;
  border-top: 2px solid #2a476e;
  border-bottom: 2px solid #2a476e;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
  width: 100%;
  left: 0;
  top: 0; }

body > form section {
  width: 96%;
  margin: 0 auto; }

body > form section > h1 {
  background: #6a92c7;
  color: white;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1%;
  padding-right: 1%;
  border: 1px solid #2a476e;
  text-shadow: 0 -1px 0 #385f93;
  box-shadow: 0 1px 0 1px #8fadd5 inset; }

.note {
  font-size: 0.85em;
  font-style: oblique; }

input[type=submit] {
  font-size: 1.2em;
  margin: 40px 0 40px 0; }

p.mini {
  font-size: 0.85em; }
